.profilcontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.profilgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  width: 100%;
}
.profilgrid .appselect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profilgrid select {
  width: 70%;
  padding: 12px 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 56, 146, 0.08); 
  font-size: 12px;
  color: #777;
  text-transform: capitalize;
  font-weight: 600;
}
.profilgrid label h5 {
  margin-bottom: 5px;
  color: #777;
}
.profilgrid button {
  grid-column: 1/-1;
  width: 120px;
}
.profilcontent > h4 {
  text-align: left;
  align-self: flex-start;
  font-size: 17px;
  color: #444;
}
.darkcont .profilcontent > h4 {
  color: #bbb;
}
.profilgrid > h4 {
  color: #aaa;
  font-weight: 500;
  grid-column: 1/-1;
  font-size: 14px;
}
.horairediv {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 60px;
}
.horairediv label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.horairediv label > div {
  width: 300px; 
}
