.stockcard {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--colorshadow);
  background: var(--color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.stockcard > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 5px;
  color: #fff;
}
.stockcard h4 {
  font-weight: 500;
  font-size: 18px;
}
.stockcard small {
  font-size: 12px;
}
.stockcard small i {
  margin-right: 10px;
}
